%footer#footer
  - if (@item[:gotop] == nil)
    %a.anchor-name#gotop{:href=>"#header", :title=>"Subir"} Subir
  %section
    %h2.visuallyhidden Pie de pagina
    .footer-top
      %a.logo{:href=>relative_path_to('/index.html'), :title=>"Home"} Marroncelli
      
      .footer-block
        .footer-block-title Planta Industrial, Administración y Ventas
        .footer-block-content
          %p Av. Juan Manuel de Rosas (ex Av. Márquez) 1711/49
          %p (B1655IRF) José León Suárez, Buenos Aires - Argentina.
          %p
            %a.download.gt{:href=>"#", :title=>"Folleto"}folleto.pdf
          
      .footer-block
        .footer-block-title Contacto
        .footer-block-content
          %p Tel: (5411) 4729 5847 Líneas rotativas
          %p Fax: (5411) 4729 5674
          %p
            %a.mailto{:href=>"mailto:ventas@marroncelli.com", :title=>"ventas@marroncelli.com"} ventas@marroncelli.com        
        
      = render 'main-parts/main-menu', :contact=>true        
    
    .footer-bottom
      .legal
        <span class="uppercase">&copy; Legno sistema S.A. 2014</span> - Todos los derechos reservados
      .das
        Diseñado por DAS Branding & Design