%meta{:charset=>"utf-8"}
%meta{'http-equiv'=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}

%title
  = @item[:title]

- if (@site.config[:environment] == 'dev')
  %link{ :rel=> "stylesheet", :href=>relative_path_to('/css/normalize.css'), :type=> "text/css"}
  %link{ :rel=> "stylesheet", :href=>relative_path_to('/css/style.css'), :type=> "text/css"}
  
  /[if IE]
    %link{ :rel=> "stylesheet", :href=>relative_path_to('/css/ie.css'), :type=> "text/css"}

- else
  %link{ :rel=> "stylesheet", :href=>relative_path_to('/css/marroncelli-min.css'), :type=> "text/css"}
  /[if IE]
    %link{ :rel=> "stylesheet", :href=>relative_path_to('/css/ie-min.css'), :type=> "text/css"}
    
%script{:src=>relative_path_to('/js/libs/modernizr-min.js')}