%header#header
  %h1.main-logo
    %a.logo{:href=>relative_path_to('/index.html'), :title=>"Home"} Marroncelli
  
  %nav#navigation-institutional
    %h2.visuallyhidden Navegacion institucional
    = render 'main-parts/main-menu'
    
  %nav#navigation-products
    %h2.visuallyhidden Navegacion de productos
    - sec = get_products
    %ul.unsorted-list.clearfix
      - sec.each do |m|
        %li.list-item
          %a.link{:href=>relative_path_to("/#{m[:href]}"), :title=>m[:title], :class=>(m[:css] if (m[:css] != nil))}= m[:title]   