!!! 5
<!--[if lt IE 8 ]> <html lang="es" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie oldie"> <![endif]-->
<!--[if IE 8 ]> <html lang="es" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie oldie ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="es" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es" class="no-js"> <!--<![endif]-->
  
%head
  = render 'main-parts/head'
%body{:class=>@item[:class] ,:data=>{:page => @item[:datapage]}}
  = render 'main-parts/header'
  
  %section#main-content
    %h2.visuallyhidden Contenido
    = yield
    
  = render 'main-parts/footer'
  = render 'main-parts/scripts'  
</html>