- main = get_institutional
%ul.unsorted-list.clearfix
  - main.each do |m|
    %li.list-item
      %a.link{:href=>relative_path_to("/#{m[:href]}"), :title=>m[:title]}= m[:title]
  - if @contact != nil
    %li.list-item
      %a.link{:href=>relative_path_to("/contacto.html"), :title=>"Contacto"} Contacto
    