:ruby
  js = @site.config[:environment] == 'dev' ? 'dev' : 'min'

#fb-root

%script
  MC = {}
  MC.path = "#{relative_path_to('/')}"
%script{:src=>relative_path_to("/js/load-#{js}.js"), :defer=>"defer"}