---
title: Home
---

%section#banner.block.banner-block.gallery-block.small-banner
  %h2.visuallyhidden Banner
  .another-wrapper
    .gallery-wrapper
      - (1..5).each do |e|
        %img.gallery-item.lzl{ :width=>1200, :height=>510, :title=>"Gallery item", :alt=>"Gallery item", :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/gallery-#{e}.jpg")}}
    
= render 'sections/tactico'
= render 'sections/text-photo', :h1=>"Diseño"
= render 'sections/text-photo', :h1=>"Ecológico", :theme=>'dark'
