---
title: Ventanas
---
- h2 = "La materia prima es el origen de las cosas únicas"

= render 'sections/banner', :h1=>"Puertas de accesso", :h2=>h2
= render 'sections/productos', :q=>7, :tag=>h2, :theme=>'door'
= render 'sections/galeria'
