---
title: Ventanas
---
- h2 = "La vida se expresa a través de la luz"

= render 'sections/banner', :h1=>"Ventanas", :h2=>h2
= render 'sections/tactico-descripcion'
= render 'sections/tactico-detalle'
= render 'sections/productos', :q=>7, :tag=>h2, :theme=>'window'
= render 'sections/galeria'
