- css = (@h2 == nil)? 'small-banner' : 'full-banner'
%section.block.banner-block{:class=>css}
  %h2.visuallyhidden Banner
  .banner-center
    .banner-title= @h1
    - if (@h2 != nil)
      .banner-subtitle= @h2
  %img.banner.lzl{ :width=>1200, :height=>510, :title=>@h1, :alt=>@h1, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/banner-#{@item[:filename].sub('.html', '').gsub('content/', '')}.jpg")}}
  