%section.block.banner-block.banner-product-block
  .text-container
    %h1.banner-product-title Puertas de acceso <strong>Atlas</strong>
    .banner-product-tagline
      - (0..5).each do |i|
        Descripcion detalle 
  
  %img.banner.lzl{ :width=>1200, :height=>510, :title=>@h1, :alt=>@h1, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/banner-producto.jpg")}}
  