- slug = I18n.transliterate('Folletos'.downcase.gsub(' ', '-'))
- h1 = 'Descargue nuestros folletos'

%article.block.text-block{:class=>"#{@theme != nil ? @theme : 'normal'}-theme"}
    
  .text-container
    %h1.text-block-title= h1
    .content
      %ul.unsorted-list
        - (1..8).each do |e|
          %li.list-item
            %a.link.gt{:href=>"#", :title=>"Folleto Puertas de Acceso.pdf"} Folleto Puertas de Acceso.pdf            
    
  %img.lzl{:src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/#{slug}-background.jpg")}, :width=>584, :height=>510, :alt=>@h1, :title=>@h1}  