:ruby
  items = Array.new
  
  slug = I18n.transliterate(@h1.downcase.gsub(' ', '-'))
  
  items << {:label => 'Nombre', :type => 'text', :id => 'first-name', :required => true}
  items << {:label => 'Apellido', :type => 'text', :id => 'last-name', :required => true}
  items << {:label => 'Empresa', :type => 'text', :id => 'full-name'}
  items << {:label => 'Telefono', :type => 'tel', :id => 'phone', :required => true, :pattern=>'\d+'}  
  items << {:label => 'Mail', :type => 'email', :id => 'email', :required => true}
  #items << {:label => 'Consulta/Mensaje', :type => 'textarea', :id => 'consult', :required => true}
        
%article.block.text-block.form-block{:class=>"#{@theme != nil ? @theme : 'normal'}-theme", :id=>slug }
  %a.anchor-name{:href=>"##{slug}", :title=>@h1}= @h1
  .text-container
    %h1.text-block-title Formulario de consulta
    .content
      %h2.text-block-subtitle Siempre dispuestos a escucharlo y atenderlo, estamos esperando su consulta.
      .contact-form
        .loading
        %form#contact-form{:method=>"post"}
          Complete el formulario y envíenos su consulta.
  
          %fieldset.clearfix
            - items.each do |item|
              .form-item.clearfix
                %label{:for=>"frm-#{item[:id]}"}= "#{item[:label]}#{'<sup>*</sup>' if item[:required] != nil}:"
                - case item[:type]
                  - when 'text', 'email', 'number', 'tel'
                    %input{:type=>item[:type], :class=>"text", :id=>"frm-#{item[:id]}", :name=>"frm-#{item[:id]}", :placeholder=>item[:label], :required=>('required' if item[:required] != nil), :pattern=>(item[:pattern] if item[:pattern] != nil)}   
                    
                  - when 'textarea'
                    
                    %textarea.textarea{:name=>"frm-#{item[:id]}", :id=>"frm-#{item[:id]}", :required=>('required' if item[:required] != nil), :pattern=>(item[:pattern] if item[:pattern] != nil)}
            %em
              (*) Campos obligatorios.
            .form-item.form-textarea.clearfix
              %label{:for=> "frm-consult"}
                Consulta/Mensaje
                %sup> *
  
              %textarea#frm-consult.textarea{:name=> "frm-consult", :required=> "required"}
                  
                  
          %fieldset.clearfix.actions
            %input.submit.button{:type=>"reset", :value=>"Borrar"}
            %input.submit.button{:type=>"submit", :value=>"Enviar"}      
        #contact-sucess.contact-sucess
          Formulario enviado con exito!!
      
  %img{:src=>relative_path_to("/images/data/#{slug}-background.jpg"), :width=>584, :height=>510, :alt=>@h1, :title=>@h1}  