%section#galeria.block.gallery-block
  %h2.visuallyhidden Galeria
  %a.anchor-name{:href=>"#galeria", :title=>"Galeria"} Galeria
  .arrow.arrow-prev.disabled{:title=>"Anterior"} Anterior
  .arrow.arrow-next{:title=>"Siguiente"} Siguiente
  .another-wrapper
    .gallery-wrapper
      - (1..5).each do |e|
        %img.gallery-item.lzl{ :width=>1200, :height=>510, :title=>"Gallery item", :alt=>"Gallery item", :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/gallery-#{e}.jpg")}}
  