:ruby
  case @theme
    when 'window'
      titles = ['De abrir', 'De abrir y rebatir', 'Compuesta', 'Compuesta con Baderola']
    when 'door'
      titles = ['Atlas', 'Heka', 'Orus', 'Isis']
    when 'gallery'
      titles = ['De abrir', 'De abrir y rebatir', 'Compuesta', 'Compuesta con Baderola']
  end      
  
  lines = ['Zen', 'Hermes']

%section#productos.block.products-block.clearfix
  %h2.visuallyhidden Productos
  - if (@noanchor == nil)
    %a.anchor-name{:href=>"#productos", :title=>"Productos"} Productos
  - (1..(@q)).each do |i|
    :ruby
      h1 = titles.shuffle.first
      lines.shuffle
      
      articleclass = Array.new
      if @theme == 'gallery'
        articleclass << "gallery-theme"
      else
        articleclass << "normal-theme"
      end
      # articleclass << {@theme == 'gallery' ? "gallery-theme" : "normal-theme"}
      if ((i % 2) == 0)
        articleclass << 'odd'
      else
        articleclass << 'even'
      end
      
    
    %article.product{:class => articleclass.join(" ") }
      .text-container
        %h1.product-name= h1
        - case @theme
          - when 'window'
            .lines
              - lines.each do |l|
                %span.line{:class=>"line-#{l.chars.first.downcase}",:data=>{:letter=>l.chars.first.downcase}}= l
          - else
            .tagline= @tag
          
        %a.more-info{:href=>relative_path_to('/producto.html'), :title=>"Más información"} Más información
      - case @theme
        - when 'gallery'
          %img.lzl.product-img{:width=>600, :height=>277, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/products/gallery-#{i}")},  :alt=>h1, :title=>h1}
        - else
          %img.lzl.product-img{:width=>280, :height=>220, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/products/product-#{1 + rand(4)}.png")},  :alt=>h1, :title=>h1}
  
  - if ((@q % 2) == 1)
    .product.last-product{:class=>"#{@theme}-theme"}
      .title= @tag
      %img.lzl{:width=>600, :height=>278, :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to('/images/last-product-background.jpg')},  :alt=>@tag, :title=>@tag}