%section#detalles.block.product-block.clearfix
  %h2.visuallyhidden Detalle del producto
  %a.anchor-name{:href=>"#detalles", :title=>"Detalles"} Detalles

  %article.product-article.clearfix
    %h1.hidden Zen / Atlas
    %figure.product-article-figure
      %img.lzl{:src=>relative_path_to("/images/data/tactico-producto.jpg"), :width=>1200, :height=>150}
    
    .content
      %img.product-article-image.lzl{:alt=>"Zen / Atlas", :title=>"Zen / Atlas", :src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/products/product-5.png")}, :width=>280, :height=>280}
      %ul.colors.clearfix
        %li.color.selected-brown
        %li.color.grey
        %li.color.light-brown
    
    .content
      %h2.product-subtitle Zen / Atlas
      %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).
      %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).  
      
    .content
      %h2.product-subtitle Ecologico
      %p Minions ipsum pepete me want bananaaa! Underweaaar. Ti aamoo! ti aamoo!. Jeje po kass aaaaaah potatoooo poulet tikka masala jeje.

      %h2.product-subtitle Alta Gama
      %p Minions ipsum cillum consectetur potatoooo tank yuuu! Commodo bananaaaa veniam. Poopayee jeje uuuhhh chasy aliqua.

      %h2.product-subtitle Alta Gama
      %p Commodo exercitation dolore hahaha. Enim aliqua dolor quis cillum baboiii. Sed labore dolore enim aute jeje ad chasy.