%section#detalles-tecnicos.block.product-block.product-detail-block.clearfix
  %h2.visuallyhidden Detalle tecnico del producto
  %a.anchor-name{:href=>"#detalles-tecnicos", :title=>"Detalles tecnicos"} Detalles tecnicos

  %article.product-article.clearfix
    %h1.hidden Zen / Atlas
    
    .content.content-first
      .product-title
      %h2.product-subtitle Detalles tecnicos
      %a.download-box{:href=>"#", :title=>"Descargue las especificaciones tecnicas del producto aqui"}Descargue las especificaciones tecnicas del producto aqui
    
    .content
      %h2.product-title Accesos 68
      - (1..3).each do |i|
        %h3.product-anothersubtitle= "Detalles 0#{i}"
        %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas). 
      
    .content
      %h2.product-title Accesos 44
      - (1..3).each do |i|
        %h3.product-anothersubtitle= "Detalles 0#{i}"
        %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas). 