%section#tactic-block.block.tactic-block.clearfix
  %h2.visuallyhidden Tactico
  %a.anchor-name{:href=>"#tactic-block", :title=>"Ver Más"} Ver Más
  - (1..3).each do |i|
    %article.tactic-article{:class=>('middle' if i == 2)}
      %figure
        %img.lzl{:src=>relative_path_to("/images/data/tactico-#{i}.jpg"), :width=>400, :height=>150}
        
      %h1= "Táctico estratégico 0#{i}"
      .content
        %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).
        %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).  
      