:ruby
  h1 = 'Descripción'
  slug = I18n.transliterate(h1.downcase.gsub(' ', '-'))
  items = ['Zen', 'Hermes']

%section.block.tactic-dual-block.clearfix{:id=>slug}
  %h2.visuallyhidden= h1
  %a.anchor-name{:href=>"##{slug}", :title=>h1}= h1  
  - (0..1).each do |i|
    %article.tactic-dual-article{:class=>('tactic-dual-first' if (i==0)), :data=>{:letter=>items[i].chars.first}}
      .text-container
        %header
          %h1.tactic-dual-title= items[i]
          .tagline Descripcion de la linea de productos. Descripcion de la linea de productos
        
        .content      
          %h2.tactic-dual-subtitle Descripción
          %p Con la aplicación de tecnología de última generación y el más moderno gusto estético, esta línea de ventanas de alta gama revoluciona el concepto de habitabilidad. La sólida estructura de su marco permite contener tofo tipo de tipologías de apertura y configuraciones de acristalamiento.
          %p Producto exclusivo que incorpora detalles de diseño únicos y brinda una amplia flexibilidad.
          %p 
            %strong Su exigencia es alta, Magna es su mejor opción.
          %p
            %strong De abrir / Oscilobatientes / Corredizas / Banderola / Compuestas.
          
        %a.meet-us.gt{:href=>"#", :title=>"Conozca la linea de productos"} Conozca la linea de productos
      
      %img.lzl.tactic-deco{:src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/#{items[i].downcase}-background.jpg")}, :width=>436, :height=>510, :alt=>items[i], :title=>items[i]}