:ruby
  h1 = 'Detalles'
  slug = I18n.transliterate(h1.downcase.gsub(' ', '-'))
  items = ['Zen', 'Hermes']

%section.block.tactic-dual-block.clearfix{:id=>slug}
  %h2.visuallyhidden= h1
  %a.anchor-name{:href=>"##{slug}", :title=>h1}= h1  
  - (0..1).each do |i|
    %article.tactic-dual-article{:class=>('tactic-dual-first' if (i==0)), :data=>{:letter=>items[i].chars.first}}
      %header
        %h1.tactic-dual-subtitle Detalles
        
      .content      
        %h2.tactic-dual-anothersubtitle Terminación
        %p Posibilidad de elección de la madera.
        %p Finas molduras. Premarco metálico de diseño italiano.Todas las aberturas reciben un proceso de prepintado en cabina de pintura que lo protege durante el proceso de obra.
        
        %h2.tactic-dual-anothersubtitle Estanqueidad
        %p Perfiles y burletes aprobados bajo normas europeas.
        %p Drenaje interior en aluminio recubierto en madera. Herraje de cierre multipunto.
        
        %h2.tactic-dual-anothersubtitle Aislación Termoacústica
        %p Triple contacto perimetral.
        %p Alta masa corporal y baja dilatación de la madera.
        %p Posibilidad de vidriado con acristalamiento especial y de gran espesor. Burlete resistente a los rayos U.V.
        
        %h2.tactic-dual-anothersubtitle Practicidad
        %p De fácil regulación.
        %p Fabricación sobre el proyecto, o a medida según la necesidad del cliente.          