- slug = I18n.transliterate(@h1.downcase.gsub(' ', '-'))

%article.block.text-block{:class=>"#{@theme != nil ? @theme : 'normal'}-theme", :id=>slug }
  - if (@noanchor == nil)
    %a.anchor-name{:href=>"##{slug}", :title=>@h1}= @h1
    
  .text-container
    %h1.text-block-title= @h1
    .content
      = render "texts/#{slug}"
    
  %img.lzl{:src=>"data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEHAAEALAAAAAABAAEAAAICTAEAOw==", :data=>{:original=>relative_path_to("/images/data/#{slug}-background.jpg")}, :width=>584, :height=>510, :alt=>@h1, :title=>@h1}  