%article.block.text-photo-block{:class=>"#{@theme != nil ? @theme : 'normal'}-theme", :id=>I18n.transliterate(@h1.downcase) }
  %a.anchor-name{:href=>"##{I18n.transliterate(@h1.downcase)}", :title=>@h1}= @h1
  .text-photo-container
    %h1= @h1
    %h2
      Aberturas de alta gama
    .content
      %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).
      %p Odea desarrolló e-siGas, un sistema tecnológicamente avanzado que optimiza los procesos de despacho y comercialización de gas. Su flexibilidad permite controlar la operación, asistiendo en el manejo de un número ilimitado de empresas (productores, transportistas).  
  %img{:src=>relative_path_to("/images/data/#{I18n.transliterate(@h1.downcase)}-background.jpg"), :width=>1200, :height=>510, :alt=>@h1, :title=>@h1}
  