%h2.text-block-subtitle Legno Sistema S.A. <br /> Planta Industrial, Administración y Ventas
%p Av. J.M. de Rosas (Ex Av. Márquez) 1711/49
%p (B1655IRF) - José León Suárez 
%p Buenos Aires - Argentina

%h2.text-block-smalltitle
  %strong Horarios:
%p Lunes a Viernes de 08.30 a 12.30 y 14.00 a 18.00hs.
%p Sábados de 9.30 a 13.00 Hs.
%p
  %strong.gt Tel:
  (5411) 4729 5847 Líneas Rotativas
%p 
  %strong.gt Fax:
  (5411) 4729 5674
%p 
  %a{:href=>"mailto:ventas@marroncelli.com", :title=>"ventas@marroncelli.com"} ventas@marroncelli.com

%h2.text-block-subtitle Local en Punta del Este
%p Showroom y Distribución: Multi Medios del Este S.A.
%p Galería Edificio Santos Dumont. Local 6. Gorlero y calle 30.
%p Punta del Este. CP: 20100. Maldonado. Uruguay.
%p 
  %strong.gt Tel:
  446552
%p
  %strong.gt Fax:
  449233
%p
  %strong.gt Cel:
  094 395700