%h2.text-block-subtitle Nuestros productos cuentan con las siguientes cualidades:

%p.text-block-subtitle Tenemos experiencia &#124;  
%p Un carácter que nos distingue.

%p.text-block-subtitle Aislamiento hidrófugo &#124;  
%p Previenen la acción del agua.

%p.text-block-subtitle Estanqueidad &#124;  
%p Nuestro perfil Homologado y Certificado avala una calidad superior.

%p.text-block-subtitle Aislación Termoacústica &#124;  
%p Nos permite crear un microclima interior.