%h2.text-block-subtitle Hacemos piezas únicas
%p Luz, calidez, seguridad y estilo son palabras que resumen el valor agregado de nuestras aberturas.
%p En Marroncelli buscamos crear un equilibrio especial entre la madera, los herrajes y el vidrio para crear diseños exclusivos. El estilo siempre es personal y se contruye en base al arte de la combinación de los elementos.
%p La combinación de materiales es un arte que exige cuidados especiales.
%p “Cuando hay armonía los elementos se integran naturalmente”.

%h2.text-block-subtitle Tenemos experiencia
%p Con más de 45 años en el rubro, somos líderes en la fabricación y comercialización de aberturas de madera con estética europea.

%h2.text-block-subtitle Nos emocionamos como usted
%p Sentimos esa misma alegría al ver el sueño realizado, el espacio listo para ser habitado.
%p Sentimos ese mismo orgullo de haber sintetizado los elementos en base al buen gusto y el confort.     
