%h2.text-block-subtitle Nuestro staff está a su disposición

%h3.gt Director
%p
  <strong>Roberto Marroncelli</strong> &#124;
  %a{:href=>"mailto:marroncelli@marroncelli.com", :title=>"marroncelli@marroncelli.com"}marroncelli@marroncelli.com

%h3.gt Departamento Técnico Comercial
%p
  <strong>Arq. Natalia Vasconcelos</strong> &#124;
  %a{:href=>"mailto:nvasconcelos@marroncelli.com", :title=>"nvasconcelos@marroncelli.com"}nvasconcelos@marroncelli.com
%p
  <strong>Pablo Ernesto de Lellis</strong> &#124;
  %a{:href=>"mailto:pdelellis@marroncelli.com", :title=>"pdelellis@marroncelli.com"}pdelellis@marroncelli.com

%h3.gt Dep. de Planeamiento y control de Producción
%p
  <strong>Sergio Propato</strong> &#124; 
  %a{:href=>"mailto:spropato@marroncelli.com", :title=>"spropato@marroncelli.com"}spropato@marroncelli.com

%p
  <strong>Martín Brussa</strong> &#124; 
  %a{:href=>"mailto:mbrussa@marroncelli.com", :title=>"mbrussa@marroncelli.com"}mbrussa@marroncelli.com

%p
  <strong>Pablo Balbi</strong> &#124; 
  %a{:href=>"mailto:pbalbi@marroncelli.com", :title=>"pbalbi@marroncelli.com"}pbalbi@marroncelli.com

%h3.gt Departamento de Customer Service
%p 
  <strong>Servicio Técnico</strong> &#124; 
  %a{:href=>"mailto:service@marroncelli.com", :title=>"service@marroncelli.com"}service@marroncelli.com
