%h2.text-block-subtitle La actualización tecnológica es una compromiso indelegable para nosotros

%p <strong>Los productos Marroncelli cumplen con las más estrictas normas internacionales</strong>, poniendo a su disposición un producto de avanzada.
%p Poseemos maquinarias y equipos de última generación, materia prima rigurosamente seleccionada, controlada y estacionada en depósitos propios, y personal altamente capacitado. Esta sumatoria de elementos garantizan la calidad y precisión tecnológica con calidez artesanal, característica de nuestros productos.
%p <strong>La constante incorporación de tecnología, ha llevado a la empresa a posicionarse en los mismos niveles que sus pares europeas.</strong>
