/* IE !! */

.ie8 {
	#navigation-institutional {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0a0a0a',GradientType=0 )	
	}
	
	#navigation-products {
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#323232',GradientType=0 )	
	}
	
	#footer {
	  .footer-block:before {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645C54', endColorstr='#615951',GradientType=0 )	
	  }
	  
	  .footer-top {
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0a0a0a',GradientType=0 )
	  }
	
	}
	
	.anchor-name {
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#80000000',GradientType=0 )
	}
	
	#productos {
	  .lzl {
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#40ffffff',GradientType=0 )
	  }
	}
}
