@mixin hide(){
	display: none;
	visibility: hidden;
}

@mixin show(){
	display: block;
	visibility: visible;
}

@mixin border_radius($radius: 10px) {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
}

@mixin box_shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin gradient_v($top: black, $bottom: white) {	
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
	background: linear-gradient(top, $top 0%, $bottom 100%); /* W3C */	
}

@mixin gradient_h($top: black, $bottom: white) {  
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(left, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(left, $top 0%, $bottom 100%); /* W3C */  
}

@mixin transition($value...){
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin box_sizing($value) {
	-moz-box-sizing: $value;
	-webkit-box-sizing: $value;
	box-sizing: $value;
}

@mixin teacher_profile($w){
  position:absolute;
  width: $w;
  height: $w;
  left: 50%;
  margin-left: (($w+10)/-2);
  top: 2.5%;
  border:solid 5px rgba(white, .5);
  overflow: hidden;
  
  @include border_radius(100em);	
}

@mixin rotate($angle) {
-webkit-transform: rotate($angle);
     -moz-transform: rotate($angle);
      -ms-transform: rotate($angle);
       -o-transform: rotate($angle);
          transform: rotate($angle);   	
}

@mixin fix_h($h){
	padding-bottom:0;
	min-height: $h;
}