@import 'mixin';

$sh: 510px;

img.lzl{
	background: #1c1c1c;
	/*
	background: url(../images/loading.gif) center center no-repeat;
	@include box_shadow(0px 0px 20px 0px black inset);
	*/
}

.gt {
	&:before {
	  content:"\3e\0a";
	}
}

body.sticky {
	padding-top:153px;
	
	#header {
    position:fixed;
    width: 1200px;
    z-index:100;
    top:0;
    
    .main-logo {
      width: 144px;
      height: 25px;
      background: url(../images/sprite.png) -247px -137px;
      top:4px;
    }
	}
	
	#navigation-institutional {
	  @include hide();
	}
}

#navigation-institutional {
  height: 116px;
  border-bottom:solid 1px black;
  position: relative;
  
  @include gradient_v(#232323, #0a0a0a);
  
  .unsorted-list {
    bottom: 18px;
    position: absolute;
    right: 55px;
  } 
}

#navigation-institutional,
#footer { 
  .link {
    color:#d9d9d9;
    position: relative;
    display:block;
    width:100%;
    height:100%;
    
  }
  
  .list-item {
    float:left;
    margin-left: 13px;
    position:relative;
    font-size: 12px;


    
    &:first-child {
      &:before {
        @include hide();
      }
    }
  }
}

#footer {
  
  .list-item {
    &:before {
      content:"\b7";
      position: absolute;
      left: -8px;
      color:#d9d9d9;
    }  
  }
}

#header {
	position:relative;
  
  .main-logo {
    background: url(../images/sprite.png) -311px 0;
    height: 76px;
    left: 44px;
    overflow: hidden;
    position: absolute;
    top: 18px;
    width: 167px;
    z-index: 10;
  }
  
  .logo {
    display:block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
  }
}

#footer {
	position:relative;
	font-family:Arial;
	
	.anchor-name {
	  top:-35px;
	}
  
  .link {
    text-transform: uppercase;
  }
	
	.logo {
	  width: 122px;
	  height: 55px;
	  background: url(../images/sprite.png) no-repeat -311px -77px;
	  text-indent: -999em;
	  overflow: hidden;
	  margin: 0 32px 0 54px;
	}
	
	.logo,
	.footer-block {
	  float:left;
	}
	
	.footer-block {
	  position: relative;
	  font-size:10px;
	  padding: 0 5px 0 10px;
	  
	  &:before {
	    content:"";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 1px;
	    height: 100%;
	    @include gradient_v(#645C54, #615951);
	    
	  }
	  
	  .download {
	    color:#F2971E;
	    font-weight: bold;
	  }
	  
	  .mailto {
	    font-weight: bold;
	    color:#726B63;
	  }
	}
	
	.footer-block-title {
	  text-transform: uppercase;
	  color:#726B63;
	  margin-bottom: 3px;
	}
	
	.footer-block-content {
	  color:#757575;
	  line-height: 13px;
	}
	
	$h:56px;
	.footer-top {
	  $th:116px;
	  height: $h;
	  padding: ( ($th - $h) / 2 ) 0;
	  border-bottom:solid 1px black;
	  
	  @include gradient_v(#232323, #0a0a0a);
	}
	
	.footer-block {
	  height: $h;
	}
	
	$h:34px;
	.footer-bottom {
    height: $h;
    border-top:solid 1px #272727;
    color:#D9D9D9;
    font-size:13px;
    
    @include gradient_v(#191919, #323232);	
	}
	
	.legal {
	  float:left;
	  margin-left: 41px;
	}
	
	.das {
	  float:right;
	  margin-right: 54px;
	}
	
	.legal,
	.das {
    height: $h;
    line-height: $h;
	}
	
	.uppercase {
	  text-transform: uppercase;
	}
	
	.unsorted-list {
    position: absolute;
    right: 55px;
    top: 53px;
	}
	
	.list-item {
	  font-size: 10px;
	  margin-left:6px;
	  
	  &:before {
	    left:-5px;
	    color:#726B63;
	  }
	}
	
	.link {
	  font-size: 11px;
	  color:#726B63;
	}
}

#galeria,
#descripcion {
	@include fix_h($sh);
}

#productos {
	padding-bottom:0;
	
	.product {
	  width: 50%;
	  height: ($sh/2);
	  float:left;
	  background: white url(../images/product-background.jpg) no-repeat;
	  position: relative;
	}
	
	.lines {
	  margin-bottom:18px;
	  
	  .line {
	    display:inline-block;
      width: 43px;
      height: 43px;
      line-height: 43px;
      text-align: center;
      position: relative;
      font-size: 30px;
      text-indent:-999em;
      @include border_radius(20em);
      
      &:before {
        content:attr(data-letter);
        text-indent: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-transform: uppercase;
      }
	  }
	  .line-h{
	    background: #7B7065;
	  }
    .line-z{
      background: #ECEAE8;
    }	  
	  /*
	  background: #7B7065;
	  */
	}
	
	
	.dark-theme {
	  background-position: 0 0;
	}
	
	.normal-theme {
	  background-position: 0 -278px;
	}
	
  .product-name {
    text-transform: uppercase;
    color: #9A8E7B;
    word-spacing: -5px;
    margin-bottom: 10px;
  } 	
	
	.window-theme {
	  
	  .title {
	    width: 167px;
	  }
	  
	  .product-name {
      line-height: 38px;	  
	  }
	}
	
	.door-theme {
	  .title {
	    width: 302px;
	  }
	  
	  .product-name {
	    font-size: 60px;
	    line-height: 1em;
	    padding-top: 10px;
	  }
	}
	
	.gallery-theme {
	  background:none;
	  .product-img{
      margin:0;
      right: 0;
      top: 0;
	  }
	}
	
	.tagline {
	  font-style: 14px;
	  margin-bottom: 10px;
	  width: 185px;
	  font-size: 14px;
	}
	
	.text-container {
    left: 60px;
    position: absolute;
    top: 65px;
    width: 270px;
    z-index: 5;	
	}
	
	.product-img {
	  $w:280px;
	  $h:220px;
	  
	  top:50%;
	  position: absolute;
	  margin-top: ($h/-2);
	  right:33px;
	}
	.lzl {
    background-color:#fff;
    /*
    @include box_shadow(0px 0px 70px 0px rgba(black,.25) inset);
    */	
	}
	
	.last-product {
	  background: white;
	  
    .title {
	    color: #555555;
	    font-size: 2em;
	    left: 53px;
	    line-height: 35px;
	    position: absolute;
	    text-transform: uppercase;
	    top: 67px;
	    z-index: 9;
    }	  
	  
	  img {
	    background: none;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    @include box_shadow(none);
	  
	  }
	  
	}
	
	.more-info{
	  $c: #E48201;
	  
	  border-left:solid 1px $c;
	  border-right:solid 1px $c;
	  color:$c;
	  padding: 0 5px;
	  @include border_radius(5px);
	  
	}
}


#navigation-products {
	height: 31px;
	border-top:solid 1px #272727;
	margin-bottom: 3px;
	position: relative;
	
	@include gradient_v(#191919, #323232);
	
	&:before {
	  content:"";
	  position:absolute;
	  width: 100%;
	  height: 3px;
	  background: url(../images/base64/navigation-products-bg.png) no-repeat center top #8C765F;
	  bottom:-3px;
	  left:0;
	}
	
  .link {
    color:#B99C7E;
    position: relative;
    display:block;
    width:100%;
    height:100%;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    font-weight:bold; 
    letter-spacing: -1px;   
  }

  
  .envelope {
    width: 17px;
    height: 11px;
    background: url(../images/sprite.png) -455px -89px no-repeat;
    text-indent: -999em;
    top:2px;
  }

  .list-item {
    float:left;
    margin-left: 45px;
    position:relative;
    height:15px;

    &:before {
      content:"";
      position: absolute;
      left: -23px;
      width:1px;
      height: 100%;
      background:#B99C7E;
    }
    
    &:first-child {
      &:before {
        @include hide();
      }
    }
  }
  
  .unsorted-list {
    bottom: 8px;
    position: absolute;
    right: 54px;
    height: 15px;
  }	
}

.anchor-name {
	width: 220px;
	margin: 0 auto;
	position: absolute;
	height: 35px;
	top: -36px;
	line-height: 40px;
	text-transform: uppercase;
	color:white;
	left:0;
	right:0;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	z-index:9;
  font-family: verbextralight, Arial;	
	
	@include gradient_v( rgba(black, .3), rgba(black, .5) );
	
	&:after {content:"\0a\b7";}
	&:before{content:"\b7\0a";}
}

.block {
	position: relative;
	min-height: $sh - 20px;
	border-bottom:solid 1px #939598;
	width:100%;
	padding-bottom: 20px;
	
	&:last-child {
	  border:none;
	}
	
  .content {
    font-family: Arial;
    font-size: 13px;
    word-spacing: 2px;
    line-height: 18px;
    /*
    p{
      margin-top: 17px;
      
      &:first-child {
        margin-top:0;
      }
    }
    */
  }	
}

.banner-block {
	display:table;
	height:$sh;
	text-transform: uppercase;
	padding: 0;
	
	&.small-banner {
	  .banner-title {
	    font-size: 51px;
	    letter-spacing: 2px;
	    line-height: 67px;	  
	  }
	}
	
  &.full-banner {
    .banner-title {
      font-size: 76px;  
      line-height: 64px; 
    }
  }	
	
	.banner-center {
	  height: $sh;
	  display: table-cell;
	  vertical-align: middle;
	  position: relative;
	  z-index: 5;
	  padding-left: 65px;
	}
	
	.banner-title {
    color: #FFFFFF;
    width: 460px;
	}
	
	.banner-subtitle {
	  color: #F2971E;
	  font-size:26px;
	  position:relative;
	}
	
	.banner-subtitle-dot {
    &:after {content:"\0a\b7";}
    &:before{
      content:"\b7";
      left: -16px;
      position: absolute;
    }	
	}
	
	.banner {
	  position:absolute;
	  left: 0;
	  top: 0;
	}
}

.gallery-block {
	overflow:visible !important;
	
  .another-wrapper {
    position:relative;
    overflow:hidden;
    width: 1200px;
    height: $sh;
  }
	
	.arrow{
	  $h: 57px;
	  position:absolute;
	  top:50%;
	  margin-top: ($h/ -2);
	  background: url(../images/sprite.png);
	  opacity: .75;
	  cursor:pointer;
	  z-index:999;
	  display:block;
	  width:$h;
	  height:$h;
	  text-indent:-999em;
	  overflow:hidden;
	  
	  @include transition(opacity 1s);
	  
    &:hover {
      opacity: 1;
      @include transition(opacity 1s);   
    }	  
	}
	
	$d:40px;
	
	.arrow-prev{
	  background-position: 0 -113px;
	  left: $d;
	}
  .arrow-next{
    background-position: -58px -113px;
    right: $d;
  }
  
  .disabled {
    opacity: .25 !important;
    cursor: default !important;
    @include transition(opacity 1s);   
  }
  
  .lzl {
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;  
  }
	
}

.tactic-block {
	
	h1,
	.content {
	  width: 350px;
	  margin: 0 auto;
	}
	
	h1 {
	  color:#94897E;
	  text-transform: uppercase;
	  margin-bottom: 8px;
	  font-size: 26px;
	}
	
	figure {
	  margin-bottom: 60px;
	}
	
  p{
    margin-top: 17px;
    
    &:first-child {
      margin-top:0;
    }
  }	
	
	.tactic-article {
	  width: 400px;
	  float:left; 
	}
	
	.middle {
	  figure {
	    position: relative;
	    
	    &:after,
	    &:before{
	      position:absolute;
	      width: 2px;
	      height: 100%;
	      background: white;
	      content:"";
	      top:0;
	    }
	    
	    &:after {
	      left: -1px;
	    }
	    
	    &:before {
	      right: -1px;
	    }

	  }
	}
}

.tactic-dual-block {
	background: url(../images/base64/bg-windows.png) repeat-y top right;
	
	.tactic-deco {
	  position:absolute;
	  top:0;
	  right: 0;
	  background: none;
	  @include box_shadow(none);
	}
	
	.text-container {
	  position: relative;
	  z-index: 2;
	}
	
	.tactic-dual-article{
	  width: 35.7%;
	  padding: 0 8.4% 0 5.9%;
	  float:left;
	  background: #94897F;
	  color:white;
	  height:100%;
	  position:relative;
	  
	  &:after {
	    content:attr(data-letter);
	    width: 43px;
	    height: 43px;
	    background: #7B7065;
	    line-height: 43px;
	    text-align: center;
	    top:8px;
	    right: 15px;
	    position: absolute;
	    font-size: 30px;
	    
	    @include border_radius(20em);
	  }
	  
	  header {
	    padding-top:57px;
	    text-transform: uppercase;
	    
	  }

	  .tactic-dual-title {
	    font-size: 68px;
	    line-height: 1em;
	    margin-bottom: 6px;
	  }
	  
	  .tactic-dual-subtitle{
	    border-bottom:solid 1px #d4d4d4;
	    text-transform: uppercase;
	    font-family: verbextralight, Arial;
	    padding-bottom: 6px;
	    font-size: 40px;
	    line-height: 1em;
	    margin-bottom: 18px;
	  }
	  
	  .tactic-dual-anothersubtitle {
	    font-size: 19px;
	    margin-top:19px;
	    
	    &:first-child {
	      margin-top:0;
	    }
	  }
	  
	  .tagline {
	    font-size: 21px;
	    line-height: 25px;	
	    margin-bottom: 42px;  
	  }
	  
	  .content {
      margin-bottom:26px;	  
	  }
	  
    .meet-us {
      color:white;   
    } 	  
	}
  .tactic-dual-first{
    background: white;
    color:#94897F;   

    &:after {
      background: #ECEAE8;
    } 
    
    &:before {
      @include hide();
    }
    
    .meet-us {
      color:#94897F;   
    }  
  }
  
	.meet-us {
    font-size: 15px;
    text-transform: uppercase;
    word-spacing: -1px;
	}  
  	
}

.text-block {
	background:white;
	
	.text-container {
	  width: 500px;
	  padding: 83px 46px 0 70px;
	  
	  a {
	    color:#808080;
	  }	  
	}

	.text-block-title {
	  text-transform: uppercase;
	  letter-spacing: -1px; 
	  color:#94897E;
	  margin-bottom: 15px;
	}
	
	.text-block-subtitle {
    font-size: 18px;
    
    word-spacing:4px;
    margin:15px 0 2px 0;
    color:#6E441B;
    
    &:first-child {
      margin-top:0;
    }
	}
	
	.text-block-smalltitle {
    color: #808080;
    font-size: 13px;
    margin-top: 14px;	  
	}
	
	.unsorted-list {
	  .link {
	    font-size:18px;
	    color:#6E441B;
	  }
	  
	  .list-item{
	    margin: 23px 0;
	  }
	}
	
	h3 {
    font-size: 13px;
    margin-top: 23px;
    color: #6E441B;
    font-weight:bold;
	}
	
	img {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	
	p {
	  margin-top: 2px;
	  color:#808080;
	  
	  &:first-child {
	    margin-top:0;
	  }
	  
	  &.text-block-subtitle {
	    text-transform: uppercase;
	    margin-top: 31px;
	  }
	}
	
	strong.gt:before {
	  color:#F38230;
	}
}

.text-photo-block {
	
	&.normal-theme {
	  h1,
	  h2 {
	    color:#94897E;
	  }
	  
	  h1:before {
	    background-position:  -116px -113px;
	  }
	  
	  .content {
	    color:#808080;
	  }	  

	}
	
  &.dark-theme {
    h1,
    h2,
    .content {
      color:white;
    }
    
    h1:before {
      background-position: -178px -113px;
    }
    
  }	
	
  h1,
  h2 {
    text-transform: uppercase;
  }
  
  h1{
    position: relative;
    font-size:60px;
    
    &:before {
      width: 61px;
      height: 59px;
      content:"";
      background: url(../images/sprite.png) no-repeat;
      position: absolute;
      top: -64px;
      left: 0;
    }
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  
  p{
    margin-top: 17px;
    
    &:first-child {
      margin-top:0;
    }
  }  
  	
  .text-photo-container {
    position:relative;
    padding-top:126px;
    z-index: 10;
    margin-left: 75px;
    width: 340px;
  }	
}

.form-block {
	/*
  .text-block-title {
    margin-bottom:7px;
  }
  */
  
  .contact-form {
    margin-top: 20px;  
    position: relative;
  }
  
  .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, .7) url(../images/loading.gif) center center no-repeat;
    z-index: 5;
    display: none;
  }
  
  .contact-sucess {
    display: none;
  }
  
  .content {
    width: 400px;
  }
  
  .text {
    border:none;
    background: #e8e8e8;
    width: 335px;
    padding: 1px 0;
  }
  
  .form-item {
    margin-bottom: 9px;
    
    &:first-child {
      margin-top: 12px;
    }
  }
  
  .form-textarea {
    margin-top:15px;
    
    label {
      display:block;
      float:none;
      margin-bottom: 5px;
    }
  }
  
  .actions {
    text-align:center;
    
    input {
      color:#94897E;
      border:none;
      border-left: solid 1px #94897E;
      border-right: solid 1px #94897E;
      font-size: 19px;
      display: inline-block;
      background: none;
      margin: 0 10px;
      
      
      @include border_radius(5px);
    }
  }
  
  label,
  .text{
    float:left;
  }
  
  label {
    width: 65px;
  }
  
  em {
    display: block;
    font-size: 9px;
    text-indent: 24em;
  }
  
  textarea{
    width: 396px;;
    height: 5em;
    border:none;
    background: #e8e8e8; 
    padding: 0 2px;   
  }
  
}

.banner-product-block {
	strong {
	  display:block;
	  font-size: 70px;
	  font-weight: normal;
	}
	
	.text-container {
    left: 75px;
    position: absolute;
    top: 126px;
    width: 400px;
    z-index: 5;
	}
	
	.banner-product-title {
    font-size: 24px;
    line-height: 50px;	
    margin-bottom: 95px;
    color:#BAAF97;
	}
	
	.banner-product-tagline {
    font-size: 22px;
    line-height: 24px;
    text-transform: none;	
    color:#6D6D6D;
	}
}
/*
.product-block {
	&:after {
	  position:absolute;
	  bottom:0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  height: 1px;
	  background: #e7e7e7;
	}
	
}
*/

.product-article {
	.colors {
	  $h:29px;
	  
	  height: $h;
	  position:relative;
	  float:left;
	  left:50%;
	  padding:0;
	  
	  .color {
	    width: $h;
	    height: $h;
	    margin-left: 10px;
	    float:left;
	    display:block;
	    position: relative;
	    right: 50%;
	    
	    
	    @include border_radius(100em);
	    
	    &:first-child {
	      margin:0;
	    }
	  }
	  
	  .selected-brown{background: #87634E;}
	  .grey{background: #EBEAE3;}
	  .light-brown{background: #E5E0C7}
	}
	
	.content {
	  width: 400px;
	  float: left;
	  
	  p {
	    width: 385px;
	  }
	  
	  .product-subtitle {
	    margin-top: 25px;
	    
	    &:first-child {
	      margin:0;
	    }
	  }
	}
	
  .content-first {
    padding-left: 45px;
    width: (400px - 45px);
  }
  
  .download-box {
    $w:310px;
    $pl:120px;
    $p:28px;
    $h:112px;
    
    width: $w - $pl;
    height: ( $h - ($p*2) );
    background: url(../images/download-box.jpg) no-repeat;
    display: block;
    padding: $p 0 $p $pl;
    margin-top: 37px;
    color:#94897E;
  }

	
	.product-article-image {
	  display:block;
	  margin: 0 auto 0 auto;
	}
	
	.product-article-figure {
	  position:relative;
	  margin-bottom:50px;
	  
	  &:after,
	  &:before {
	    background: #FFFFFF;
	    content: "";
	    height: 100%;
	    position: absolute;
	    top: 0;
	    width: 2px;
	    z-index: 5;
	  }
	  
	  $d:399px;
	  
	  &:after {
	    left: $d
	  }
	  &:before {
	    right: $d;
	  }
	}
	
	.product-title,
	.product-subtitle {
    color: #94897E;
    font-family: verbextralight,Arial;
    text-transform: uppercase;
	}
	.product-title {
    border-bottom: 1px solid #D4D4D4;
    font-size: 39px;
    height: 1em;
    line-height: 1em;
    margin: 45px 45px 0 0;
    padding-bottom: 14px;
    padding-right: 0;
	} 
	
	.product-subtitle {
    font-size: 21px;
    margin-bottom: 5px;
	}
	
	.product-anothersubtitle {
	  text-transform: uppercase;
    font-size: 12px;
    margin-top: 24px;
    font-weight: bold;
	}
}